body {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: xx-large;
}

@media screen and (max-device-width: 480px) and (min-width: 480px) {

    body {
        font-size: 70px;
    }

    .p1Choice {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-height: 35vh;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 20px 0 20px;
    }

    .p1Choice > * {
        flex-grow: 1;
        flex-shrink: 1;
        margin-top: 30px;
    }

    .roundChoices {
        min-height: 250px;
    }

    .roundChoices > img {
        max-width: 250px;
        max-height: 250px;
    }
    
}

img {
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
}

div {
    text-align: center;
    font-weight: bold;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    min-height: 98vh;
    max-height: 100%;
}

.score {
    display: flex;
    justify-content: space-around;
}

.p1Score > * {
    margin: 5px;
}

.cpuScore > * {
    margin: 5px;
}

.result {
    display: flex;
    flex-direction: column;

}

.result > * {
    margin: 5px;
}

.roundResult {
    display: flex;
    color: gold;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    line-height: 5vh;
    margin-left: 10px;
    margin-right: 10px;
}

.roundChoices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    margin-left: 10px;
    margin-right: 10px;
}

.roundChoices > img {
    max-height: 10vh;
    max-width: 15vh;
}

.pleaseSelect {
    margin-top: -8vh;
    margin-bottom: -5vh;
}


.p1Choice {
    display: flex;
    justify-content: space-evenly;
}

.p1Choice > * {
    border: solid 2px;
    border-color: white;
    border-radius: 20px;
    transition: all .07s ease;
    height: 70px;
    width: 100%;
}

.finalResult {
    display: none;
    flex-direction: column;
    line-height: 5vh;
    justify-content: center;
    position: absolute;
    z-index: 100;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 70%;
    min-width: 80%;
    border: solid 5px white;
    background: black;
    color: white;
}

#playAgain {
    margin: 2vh 10vh 0 10vh; 
    color: gold;
    border: 2px white solid;
    border-radius: 20px;
}